$ailicili-color: #fd4c5d
$ailicili-color-dark: #b32d3a
html
  color-scheme: dark
  height: 100%
body
  margin: 0 0 0
  display: flex
  flex-direction: column 
  min-height: 100%
nav
  background-color: $ailicili-color
  ul
    margin: 0
    padding: 0
    list-style: none
  li
    display: inline-block
    :hover
        background-color: $ailicili-color-dark
  a
    display: block
    padding: 6px 12px
    text-decoration: none
    color: white
img
  max-width: 40%
  display: block
blockquote
  margin: 0 0 0
  border-left: 2px solid $ailicili-color
p
  margin: 0 0 0
section
  flex: 1
footer
  text-align: center
a
  color:$ailicili-color


