<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="/site.css">
  <title>大百科</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">主页</a></li>
        <li><a href="{{ get_url(path='@/page/_index.md') }}">条目</a></li>
        <li><a href="{{ get_url(path='@/about/_index.md') }}">关于</a></li>
      </ul>
    </nav>
  </header>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <footer>
    <h3> AiliCili贡献者制作，所有文章基于<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">知识共享 署名-非商业性使用-相同方式共享 3.0 (CC BY-NC-SA 3.0) 许可协议</a></h3>
  </footer>
</body>
</html>