{% extends "base.html" %}

{% block content %}
<h1 class="title">
  欢迎来到：大百科
</h1>
<p>这里记录的是有关AiliCili弹幕视频网的一切，来到这里的人应该很好奇AiliCili弹幕视频网是什么东西吧。</p>
<br>
<p>AiliCili弹幕视频网是中国国内的一个弹幕视频网站，虽然说上面的视频均为网络收集，其实用户也可以上传自己的作品。</p>
{% endblock content %}