{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>修改日期:{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}